#img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.obrazky {
    width: 35%;
}
.phrObr-aktivni{
    position: absolute;
    /*width: 60%;*/
    min-width: 60%;
    min-height: 300px;
    z-index: 10;
    top: 30px;
    left: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.akt-img {
    height: inherit;
    max-height: 600px;
    max-width: 900px;
    box-sizing: border-box;
    border: 1px solid black;
}
.ovl-tl {
    border: 1px solid black;
    width: 35px;
    height: 35px;
    font-size: 100%;
    border-radius: 50%;
    background: white;
}
.ovl-tl:hover{
    transition: .2s;
    background: lightgray;
}
.ovl-tl:active{
    transition: .1s;
    background: black;
    color: white;
}